{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification du mot de passe</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_start(form) }}
    </div>
{% endblock %}