{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-5">La page que vous recherchez n'existe pas !</h1>
        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
        <a href="{{ path('ads_index') }}" class="btn btn-secondary">Nos annonces</a>
    </div>
{% endblock %}